* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html { 
    cursor: none;
    font-family: galano;

    a { 
        cursor: none;
    }
}
@font-face {
    font-family: galano;
    src: url(/fonts/galano.otf);
}
@font-face {
    font-family: italicc;
    src: url(/fonts/italic.ttf);
}

.cursor-container { 
    .cursor {
        position: absolute;
        background: black;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        z-index: 1;
        transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
            0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
        user-select: none;
        pointer-events: none;
        transform: scale(0.8);
    }
    
    .cursor::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background-image: url("/assets/cursorarrow.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 100%;
        opacity: 0;
    }
    
    .cursor.active {
        background: white;
        opacity: 1;
        transform: scale(15);
    }
    
    .cursor.active::before {
        opacity: 1;
    }
    
    .cursor-follower {
        position: absolute;
        background: rgba(117, 117, 117, 0.1);
        width: 40px;
        height: 40px;
        border-radius: 100%;
        z-index: 1;
        transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
            0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
        user-select: none;
        pointer-events: none;
        transform: translate(4px, 4px);
    }
    
    .cursor-follower.active {
        opacity: 0.3;
        transform: scale(0);
    }
    
}

.container { 
    display: block;
    justify-content: center;
    margin: auto;
    max-width: 90%;
}

header { 
    padding-top: 5em;
    text-transform: uppercase;

    nav { 
        align-items: center;
        display: flex;
        justify-content: space-between;
            a { 
                text-decoration: none;
                color: black;
            }
        text-decoration: none;

        .left-side { 

            img { 
                height: 85px;
                width: 85px;
            }
        }
        .right-side { 
            
            ul { 
                list-style: none;
                text-decoration: none;
                display: flex;

                li { 
                    overflow: hidden;
                    margin-left: 5em;
                }
            }
        }
    }

    // header link underline animation
      .hover-underline-animation {
        display: inline-block;
        position: relative;
      }
      .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #000000;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
}

.headline { 
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1000px;

    span { 
        letter-spacing: 2.5px;
        font-family: italicc;
        font-weight: 600;
    }

    p { 
        padding-top: 5em;
        font-size: 2.6em;
        padding-bottom: 3em;
        text-align: center;
    }
}

.headline-image { 
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #F2F2F2;
    height: 75vh;
    width: 100%;

    img { 
        // height: 100%;
        // width: 100%;
        object-fit: cover;
    }
}

.headline-two { 
    margin-left: auto; 
    margin-right: 0;
    padding: 3em;
    width: 600px;
    padding-bottom: 12em;

    p { 
        padding-top: 3em;
        font-size: 3em;
        padding-bottom: 1.4em;
    }

    .headline-two-cta {
        .arrow-right { 
            margin-left: 12px;
            height: 8px;
            width: 8px;
        }

        a { 
            align-items: center;
            display: flex;
            text-decoration: none;
        }
        h3 { 
            text-transform: uppercase;
            color: black;
            transition: .6s;
        }
        h3:hover {
            margin-right: 15px;
        }
    }
}

footer { 
    .links { 
        padding-bottom: 5em;

        :nth-child(2) {
            margin-left: 3em;
        }
        :nth-child(3) {
            margin-left: 3em;
        }
        a { 
            color: black;
            text-decoration: none;
        }
    }

    .hover-underline-animation {
        display: inline-block;
        position: relative;
      }
      .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #000000;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    
}

// contact page
.headline-contact { 
    margin-left: auto; 
    margin-right: 0;
    padding: 3em;
    width: 800px;
    padding-bottom: 12em;

 
    .message{ 
        padding-top: 2em;
        font-size: 2em;
        padding-bottom: 1.4em;
    }

    .email { 
        padding-top: 1em;
        font-size: 2em;
        transition: 0.3s;
    }
    .email:hover { 
        opacity: .4 ;
    }
}

// about page
.headline-about { 
    padding: 4em;
    width: 1200px;
    padding-bottom: 12em;

    .contents { 
        .one { 
            padding-left: .5em;
        }
        .two { 
            padding-left: 2em;
        }

        .four { 
            padding-left: 2em;
        }

        p { 
            font-size: 4em;
            span { 
                font-family: italicc;
                font-weight: 800;
                padding-left: 1.2em;
            }
        }
        .crossed-out { 
            font-weight: normal;
            font-family: galano;
            text-decoration: line-through;
            text-decoration-color: #E0F29A;
        }

        .normal-size { 
            padding-top: 5em;
            font-size: 1.5em;
        }
    }

}