

:root {
    --accent: #A28089;
  }
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html { 
    cursor: none;
    font-family: galano;

    a { 
        cursor: none;
    }
}
@font-face {
    font-family: galano;
    src: url(/fonts/galano.otf);
}
@font-face {
    font-family: italicc;
    src: url(/fonts/italic.ttf);
}

.cursor-container { 
    .cursor {
        position: absolute;
        background: black;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        z-index: 1;
        transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
            0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
        user-select: none;
        pointer-events: none;
        transform: scale(0.8);
    }
    
    .cursor::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        background-image: url("/assets/cursorarrow.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 100%;
        opacity: 0;
    }
    
    .cursor.active {
        background: white;
        opacity: 1;
        filter: saturate(0);
        transform: scale(15);
        mix-blend-mode: difference;
    }
    
    .cursor.active::before {
        opacity: 1;
    }
    
    .cursor-follower {
        position: absolute;
        background: rgba(117, 117, 117, 0.1);
        width: 40px;
        height: 40px;
        border-radius: 100%;
        z-index: 1;
        transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
            0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
        user-select: none;
        pointer-events: none;
        transform: translate(4px, 4px);
    }
    
    .cursor-follower.active {
        opacity: 0.3;
        transform: scale(0);
    }
    
}

.container { 
    display: block;
    justify-content: center;
    margin: auto;
    max-width: 90%;
}

header { 
    padding-top: 5em;
    text-transform: uppercase;

    nav { 
        align-items: center;
        display: flex;
        justify-content: space-between;
            a { 
                text-decoration: none;
                color: black;
            }
        text-decoration: none;

        .left-side { 

            img { 
                height: 85px;
                width: 85px;
            }
        }
        .right-side { 
            
            ul { 
                list-style: none;
                text-decoration: none;
                display: flex;

                li { 
                    overflow: hidden;
                    margin-left: 5em;
                }
            }
        }
    }

    // header link underline animation
      .hover-underline-animation {
        display: inline-block;
        position: relative;
      }
      .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #000000;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
}

.headline { 
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1000px;
    line-height: 2.3em;

    span { 
        letter-spacing: 2.6px;
        font-family: italicc;
        font-weight: 600;
    }

    p { 
        padding-top: 5em;
        font-size: 2.6em;
        padding-bottom: 3em;
        text-align: center;
    }
}

.headline-image { 
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #F2F2F2;
    height: 75vh;
    width: 100%;

    img { 
        // height: 100%;
        // width: 100%;
        object-fit: cover;
        transition: .5s ease-in-out;
    }
    img:hover {
        opacity: 0.8;
    }

}

.headline-two { 
    margin-left: auto; 
    margin-right: 0;
    padding: 3em;
    width: 600px;
    padding-bottom: 12em;

    p { 
        padding-top: 3em;
        font-size: 3em;
        padding-bottom: 1.4em;
    }

    .headline-two-cta {
        display: flex;
        .arrow-right { 
            margin-left: 12px;
            height: 8px;
            width: 8px;
        }

        a { 
            align-items: center;
            display: flex;
            text-decoration: none;
        }
        h3 { 
            text-transform: uppercase;
            color: black;
            transition: .6s;
        }
        h3:hover {
            margin-right: 15px;
        }
    }
}

footer { 
    .links { 
        padding-bottom: 5em;

        :nth-child(2) {
            margin-left: 3em;
        }
        :nth-child(3) {
            margin-left: 3em;
        }
        a { 
            color: black;
            text-decoration: none;
        }
    }

    .hover-underline-animation {
        display: inline-block;
        position: relative;
      }
      .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #000000;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    
}

// work page
.headline-work {
    padding: 4em;
    padding-bottom: 10em;

    h1 { 
        display: flex;
        justify-content: center;
        margin: auto;
        font-size: 10em;
        padding-bottom: 1em;
        font-weight: 500;
    }

    .project-container { 
        display: grid;
        justify-content: center;
        margin: auto;
        .first { 
            min-width: 100vw;
            height: 600px;
            background-color: black;
        }
        .second { 
            display: flex;
            .one { 
                background-color: green;
                height: 600px;
                width: 50vw;
            }
            .two { 
                background-color: yellow;
                height: 600px;
                width: 50vw;
            }
        }
    }
}
// contact page
.headline-contact { 
    margin-left: auto; 
    margin-right: 0;
    padding: 3em;
    width: 800px;
    padding-bottom: 12em;

 
    .message{ 
        padding-top: 2em;
        font-size: 2em;
        padding-bottom: 1.4em;
    }

    .email { 
        padding-top: 1em;
        font-size: 2em;
        transition: 0.3s;
    }
    .email:hover { 
        opacity: 0.4;
    }

    .email-button { 
        display: none;
    }
}





// QUERIES

@media all and (max-width : 600px) { 
    .cursor-container { 
        display: none;
    }
}

    @media all and (max-width : 1024px) { 

        header { 
            padding-top: 2em;
        }

        .container { 
            nav { 
                align-items: center;
                display: flex;
                justify-content: space-between;
                    a { 
                        text-decoration: none;
                        color: black;
                    }
                text-decoration: none;

                .left-side { 

                    img { 
                        height: 90px;
                        width: 90px;
                    }
                }
                .right-side { 
                    
                    ul { 
                        list-style: none;
                        text-decoration: none;
                        display: flex;

                        li { 
                            font-size: 1em;
                            overflow: hidden;
                            margin-left: 1.6em;
                        }
                    }
                }
            }

            .headline { 
                display: flex;
                justify-content: center;
                margin: auto;
                width: 380px;
            
                span { 
                    letter-spacing: -0.5px;
                    font-family: italicc;
                    font-weight: 600;
                }
            
                p { 
                    padding-top: 3em;
                    font-size: 1.5em;
                    padding-bottom: 5em;
                    text-align: center;
                }
            }

            .headline-image { 
                padding-top: 5em;
                display: flex;
                justify-content: center;
                margin: auto;
                background-color: #F2F2F2;
                height: 60vh;
                width: 100%;
            
                img { 
                    object-fit: cover;
                }
            
            }

            .headline-two { 
                justify-content: center;
                margin: auto;
                width: 400px;
                padding-top: 8em;
            
                p { 
                    padding-top: 3em;
                    font-size: 2.5em;
                    padding-bottom: 3.2em;
                }
            
                .headline-two-cta {
                    .arrow-right { 
                        margin-left: 12px;
                        height: 8px;
                        width: 8px;
                    }
            
                    a {
                        letter-spacing: -0.5px;
                        font-size: 1.2em; 
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        text-decoration: none;
                    }
                    h3 { 
                        text-transform: uppercase;
                        color: black;
                        transition: .6s;
                    }
                    h3:hover {
                        margin-right: 15px;
                    }
                }
            }

            footer { 
                .links { 
                    display: flex;
                    justify-content: center;
                    margin: auto;
                    padding-bottom: 5em;

                    :nth-child(2) {
                        margin-left: 2em;
                    }
                    :nth-child(3) {
                        margin-left: 2em;
                    }
                    a { 
                        font-size: 0.8em;
                        color: black;
                        text-decoration: none;
                    }
                }

                .hover-underline-animation {
                    display: inline-block;
                    position: relative;
                }
                .hover-underline-animation:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    background-color: #000000;
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;
                }
                .hover-underline-animation:hover:after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
                
            }
        }
        // work page
        .headline-work {
            padding: 4em;
            padding-bottom: 10em;
        
            h1 { 
                display: flex;
                justify-content: center;
                margin: auto;
                font-size: 6em;
                padding-bottom: 1.2em;
                font-weight: 500;
            }
        
            .project-container { 
                display: grid;
                justify-content: center;
                margin: auto;
                .first { 
                    min-width: 100vw;
                    height: 500px;
                    background-color: black;
                }
                .second { 
                    display: flex;
                    .one { 
                        background-color: green;
                        height: 300px;
                        width: 50vw;
                    }
                    .two { 
                        background-color: yellow;
                        height: 200px;
                        width: 50vw;
                    }
                }
            }
        } 
        // contact page
        .headline-contact { 
            display: flex;
            justify-content: center;
            margin: auto;
            width: 390px;
            padding-bottom: 12em;
        
        
            .message{ 
                padding-top: 2em;
                font-size: 1.8em;
                padding-bottom: 1.4em;
            }
        
            .email { 
                font-size: 1.5em;
                display: block;
            }
            .email-button { 
             display: none;
            }
        }
    }
