* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html { 
    font-family: galano;
}

@font-face {
    font-family: galano;
    src: url(/fonts/galano.otf);
}
@font-face {
    font-family: italicc;
    src: url(/fonts/italic.ttf);
}

.container { 
    display: block;
    justify-content: center;
    margin: auto;
    max-width: 90%;
}

header { 
    padding-top: 5em;
    text-transform: uppercase;

    nav { 
        align-items: center;
        display: flex;
        justify-content: space-between;
            a { 
                text-decoration: none;
                color: black;
            }
        text-decoration: none;

        .left-side { 

            img { 
                height: 85px;
                width: 85px;
            }
        }
        .right-side { 
            ul { 
                list-style: none;
                text-decoration: none;
                display: flex;

                li { 
                    margin-left: 5em;
                }
            }
        }
    }
}

.headline { 
    display: flex;
    justify-content: center;
    margin: auto;
    width: 900px;

    span { 
        letter-spacing: 2.5px;
        font-family: italicc;
        font-weight: 600;
    }

    p { 
        padding-top: 5em;
        font-size: 2.6em;
        padding-bottom: 3em;
        text-align: center;
    }
}

.headline-image { 
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #F2F2F2;
    height: 75vh;
    width: 100%;

    img { 
        // height: 100%;
        // width: 100%;
        object-fit: cover;
    }
}

.headline-two { 
    margin-left: auto; 
    margin-right: 0;
    padding: 3em;
    width: 600px;

    p { 
        padding-top: 3em;
        font-size: 3em;
        padding-bottom: 1em;
    }

    .headline-two-cta {
        .arrow-right { 
            margin-left: 12px;
            height: 8px;
            width: 8px;
        }

        a { 
            align-items: center;
            display: flex;
            text-decoration: none;
        }
        h3 { 
            text-transform: uppercase;
            color: black;
            transition: .6s;
        }
        h3:hover {
            margin-right: 15px;
        }
    }
}

.case-study-examples {
    padding: 10em 5em 10em 4em;
    margin-bottom: 8em;

    p { 
        text-transform: uppercase;
        color: rgb(150, 150, 150);
        margin-bottom: 3em;
    }

    .row-one { 
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding-bottom: 6em;
        .ex-one { 
            margin-top: 4em;
            background-color: black;
            height: 500px;
            width: 700px;
            overflow: hidden;
            img { 
                object-fit: cover;
                height: 500px;
                width: 700px;
                transition: 1s ease-in-out;
                filter: saturate(0);
            }
            img:hover { 
                filter: saturate(1);
                transform: scale(1.05);
            }
        }
        .ex-two { 
            margin-top: 10em;
            background-color: black;
            height: 500px;
            width: 400px;
            overflow: hidden;

            img { 
                object-fit: cover;
                height: 500px;
                width: 400px;
                transition: 1s ease-in-out;
                filter: saturate(0);
            }
            img:hover { 
                filter: saturate(1);
                transform: scale(1.05);
            }
        }
    }

    .ex-three {
            display: flex;
            justify-content: center;
            margin: auto;
            margin-top: 4em;
            background-color: black;
            height: 600px;
            width: 70vw;
            overflow: hidden;
            img { 
                object-fit: cover;
                height: 600px;
                width: 70vw;
                transition: 1s ease-in-out;
                filter: saturate(0);
            }
            img:hover { 
                filter: saturate(1);
                transform: scale(1.05);
            }
    }
}

.headline-three { 
    justify-content: center;
    padding: 3em;
    width: 900px;
    padding-bottom: 10em;

    p { 
        font-size: 3em;
        padding-bottom: 1em;
    }

    .headline-three-cta {
        
        .arrow-right { 
            margin-left: 12px;
            height: 8px;
            width: 8px;
        }
        a { 
            align-items: center;
            display: flex;
            text-decoration: none;
        }
        h3 { 
            text-transform: uppercase;
            color: black;
            transition: .6s;
        }
        h3:hover {
            margin-right: 15px;
        }
    }
}

