
* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html { 
    cursor: none;
    font-family: galano;

    .cursor-container { 
        .cursor {
            position: absolute;
            background: black;
            width: 8px;
            height: 8px;
            border-radius: 100%;
            z-index: 1;
            transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
                0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
            user-select: none;
            pointer-events: none;
            transform: scale(0.8);
        }
        
        .cursor::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            background-image: url("/assets/cursorarrow.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 100%;
            opacity: 0;
        }
        
        // .cursor.active {
        //     background: white;
        //     opacity: 1;
        //     filter: saturate(0);
        //     transform: scale(15);
        //     mix-blend-mode: difference;
        // }
        
        .cursor.active::before {
            opacity: 1;
        }
        
        .cursor-follower {
            position: absolute;
            background: rgba(117, 117, 117, 0.1);
            width: 40px;
            height: 40px;
            border-radius: 100%;
            z-index: 1;
            transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform,
                0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
            user-select: none;
            pointer-events: none;
            transform: translate(4px, 4px);
        }
        
        .cursor-follower.active {
            opacity: 0.3;
            transform: scale(0);
        }
        
    }
    
    a { 
        cursor: none;
    }
}
@font-face {
    font-family: galano;
    src: url(/fonts/galano.otf);
}
@font-face {
    font-family: italicc;
    src: url(/fonts/italic.ttf);
}

.container { 
    display: block;
    justify-content: center;
    margin: auto;
    max-width: 85%;
}

header { 
    padding-top: 6em;
    text-transform: uppercase;

    nav { 
        align-items: center;
        display: flex;
        justify-content: space-between;
            a { 
                text-decoration: none;
                color: black;
            }
        text-decoration: none;

        .left-side { 

            img { 
                height: 40px;
                width: 40px;
            }
        }
        .right-side { 
            
            ul { 
                list-style: none;
                text-decoration: none;
                display: flex;

                li { 
                    overflow: hidden;
                    margin-left: 5em;
                }
            }
        }
    }

    // header link underline animation
      .hover-underline-animation {
        display: inline-block;
        position: relative;
      }
      .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #000000;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
}

.headline { 
    display: flex;
    justify-content: center;
    margin: auto;
    width: 1000px;
    line-height: 3em;

    span { 
        letter-spacing: 2.6px;
        font-family: italicc;
        font-weight: 600;
    }

    p { 
        padding-top: 5em;
        font-size: 2.6em;
        padding-bottom: 3em;
        text-align: center;
    }
}

.headline-image { 
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #F2F2F2;
    height: 75vh;
    width: 100%;
    cursor: none;

    img { 
        // height: 100%;
        // width: 100%;
        object-fit: cover;
        transition: .5s ease-in-out;
        background-size: cover;
    }
    img:hover {
        opacity: 0.8;
    }

}

.headline-two { 
    margin-left: auto; 
    margin-right: 0;
    padding: 3em;
    width: 600px;
    padding-bottom: 12em;

    p { 
        padding-top: 3em;
        font-size: 3em;
        padding-bottom: 1.4em;
        line-height: 1.35em;
        letter-spacing: .1px;
    }

    .headline-two-cta {
        display: flex;
        .arrow-right { 
            margin-left: 12px;
            height: 8px;
            width: 8px;
        }

        a { 
            align-items: center;
            display: flex;
            text-decoration: none;
        }
        h3 { 
            font-size: 1.2em;
            text-transform: uppercase;
            color: black;
            transition: .6s;
        }
        h3:hover {
            margin-right: 15px;
        }
    }
}

footer { 
    .links { 
        padding-bottom: 5em;

        :nth-child(2) {
            margin-left: 3em;
        }
        :nth-child(3) {
            margin-left: 3em;
        }
        a { 
            color: black;
            text-decoration: none;
        }
    }

    .hover-underline-animation {
        display: inline-block;
        position: relative;
      }
      .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: #000000;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }
      .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    
}

// work page
.headline-work {
    padding: 4em;
    padding-bottom: 3em;

    h1 { 
        display: flex;
        justify-content: center;
        margin: auto;
        font-size: 10em;
        padding-bottom: 1em;
        font-weight: 500;
    }
}

.project-container { 
    width: 100%;
    padding-bottom: 12em;

    .work-items { 
        .first-row { 
            display: flex;
            justify-content: center;
            margin: auto;
            li { 
                height: 350px;
                width: 600px;
                background-color: black;
                list-style: none;
            }

            .first-item { 
                margin-right: 3em;
                overflow:hidden;

                .first-p { 
                    color: white;
                    position: absolute;
                    z-index: 999;
                    padding-left: 3em;
                    padding-top: 17em;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
                .second-p { 
                    color: white;
                    position: absolute;
                    z-index: 999;
                    padding-left: 3em;
                    padding-top: 18.5em;
                    font-family: italicc;
                    font-weight: 600;
                    letter-spacing: 1px;

                }

                img { 
                    height: 100%;
                    width: 100%;
                    transition: 4s ease-in-out;
                    opacity: .7;
                    object-fit: cover;
                }

                img:hover { 
                    transform: scale(1.1);
                    opacity: .4;
                    background-color: linear-gradient(45deg,#000,transparent);
                }
            }
            .second-item { 
                overflow:hidden;

                .first-p { 
                    letter-spacing: 1px;
                    color: white;
                    position: absolute;
                    z-index: 999;
                    padding-left: 3em;
                    padding-top: 17em;
                    text-transform: uppercase;
                }
                .second-p { 
                    color: white;
                    position: absolute;
                    z-index: 999;
                    padding-left: 3em;
                    padding-top: 18.5em;
                    font-family: italicc;
                    font-weight: 600;
                    letter-spacing: 1px;

                }

                img { 
                    height: 100%;
                    width: 100%;
                    transition: 4s ease-in-out;
                    opacity: .7;
                    object-fit: cover;
                }

                img:hover { 
                    transform: scale(1.1);
                    opacity: .4;
                    background-color: linear-gradient(45deg,#000,transparent);
                }
            }
        }
    }
}

// contact page
.headline-contact { 
    padding: 4em;
    width: 800px;
    padding-bottom: 12em;

    .message{ 
        padding-top: 2em;
        font-size: 2em;
        padding-bottom: 1.4em;
    }

    .email { 
        padding-top: 1em;
        font-size: 2em;
        transition: 0.3s;
    }
    .email:hover { 
        opacity: 0.4;
    }

    .email-button { 
        display: none;
    }

}





// QUERIES

@media all and (max-width : 600px) { 
    .cursor-container { 
        display: none;
    }
}

    @media all and (max-width : 1024px) { 

        header { 
            padding-top: 3em;
        }

        .container { 

            nav { 
                align-items: center;
                display: flex;
                justify-content: space-between;
                    a { 
                        text-decoration: none;
                        color: black;
                    }
                text-decoration: none;

                .left-side { 

                    img { 
                        height: 35px;
                        width: 35px;
                    }
                }
                .right-side { 
                    
                    ul { 
                        list-style: none;
                        text-decoration: none;
                        display: flex;

                        li { 
                            font-size: .9em;
                            overflow: hidden;
                            margin-left: 1.6em;
                        }
                    }
                }
            }

            .headline { 
                display: flex;
                justify-content: center;
                margin: auto;
                width: 355px;
                line-height: 1.8em;

            
                span { 
                    letter-spacing: .5px;
                    font-family: italicc;
                    font-weight: 600;
                }
            
                p { 
                    padding-top: 4em;
                    font-size: 1.3em;
                    padding-bottom: 5.5em;
                    text-align: left;
                }
            }

            .headline-image { 
                display: flex;
                justify-content: center;
                margin: auto;
                background-color: #F2F2F2;
                height: 40vh;
                width: 340px;
            
                img { 
                    object-fit: cover;
                }
            
            }

            .headline-two { 
                justify-content: center;
                margin: auto;
                width: 350px;
                padding-top: 5em;
            
                p { 
                    padding-top: 2.2em;
                    font-size: 2.5em;
                    padding-bottom: 3em;
                }
            
                .headline-two-cta {
                    .arrow-right { 
                        margin-left: 12px;
                        height: 8px;
                        width: 8px;
                    }
            
                    a {
                        letter-spacing: -0.5px;
                        font-size: .8em; 
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        margin: auto;
                        text-decoration: none;
                    }
                    h3 { 
                        text-transform: uppercase;
                        color: black;
                        transition: .6s;
                    }
                }
            }

            footer { 
                .links { 
                    display: flex;
                    justify-content: center;
                    margin: auto;
                    padding-bottom: 5em;

                    :nth-child(2) {
                        margin-left: 2em;
                    }
                    :nth-child(3) {
                        margin-left: 2em;
                    }
                    a { 
                        font-size: 1em;
                        color: black;
                        text-decoration: none;
                    }
                }

                .hover-underline-animation {
                    display: inline-block;
                    position: relative;
                }
                .hover-underline-animation:after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    transform: scaleX(0);
                    height: 1px;
                    bottom: 0;
                    left: 0;
                    background-color: #000000;
                    transform-origin: bottom right;
                    transition: transform 0.25s ease-out;
                }
                .hover-underline-animation:hover:after {
                    transform: scaleX(1);
                    transform-origin: bottom left;
                }
                
            }
        }
        
        // work page
        .headline-work {
            padding: 4em;
            padding-bottom: 1em;
        
            h1 { 
                display: flex;
                justify-content: center;
                margin: auto;
                font-size: 6em;
                padding-bottom: 1.2em;
                font-weight: 500;
            }
        } 

        .project-container { 
            width: 100%;
            padding-bottom: 12em;
        
            .work-items { 
                .first-row { 
                    display: grid;
                    justify-content: center;
                    margin: auto;
                    li { 
                        height: 180px;
                        width: 350px;
                        background-color: black;
                        list-style: none;
                    }
        
                    .first-item { 
                        justify-content: center;
                        margin: auto;
                        margin-bottom: 1em;

                        .first-p { 
                            color: white;
                            position: absolute;
                            z-index: 999;
                            padding-left: 2em;
                            padding-top: 7em;
                            text-transform: uppercase;
                        }
                        .second-p { 
                            color: white;
                            position: absolute;
                            z-index: 999;
                            padding-left: 3em;
                            padding-top: 8.5em;
                            font-family: italicc;
                            font-weight: 600;
                            letter-spacing: 1px;
                        }
                    }
                    .second-item { 
                        justify-content: center;
                        margin: auto;
                        margin-bottom: 1em;

                        .first-p { 
                            color: white;
                            position: absolute;
                            z-index: 999;
                            padding-left: 2em;
                            padding-top: 7em;
                            text-transform: uppercase;
                        }
                        .second-p { 
                            color: white;
                            position: absolute;
                            z-index: 999;
                            padding-left: 3em;
                            padding-top: 8.5em;
                            font-family: italicc;
                            font-weight: 600;
                            letter-spacing: 1px;
                        }
                    }
                 
                }
            }
        }
        

        // contact page
        .headline-contact { 
            display: flex;
            justify-content: center;
            margin: 0 auto;
            width: 350px;
            padding-bottom: 12em;
        
            .contents { 
                display: block;
                justify-content: center;
                margin: auto;
            }
        
            .message{ 
                padding-top: 2em;
                font-size: 1.8em;
                padding-bottom: 1.4em;
            }
        
            .email { 
                min-width: 300px;
                font-size: 1.5em;
                display: block;
            }
        }
    }
