* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  cursor: none;
  font-family: galano;
}

body .cursor-container .cursor, html .cursor-container .cursor {
  position: absolute;
  background: black;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  z-index: 1;
  -webkit-transition: 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

body .cursor-container .cursor::before, html .cursor-container .cursor::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-image: url("/assets/cursorarrow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  opacity: 0;
}

body .cursor-container .cursor.active::before, html .cursor-container .cursor.active::before {
  opacity: 1;
}

body .cursor-container .cursor-follower, html .cursor-container .cursor-follower {
  position: absolute;
  background: rgba(117, 117, 117, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: 1;
  -webkit-transition: 0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.4s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  -webkit-transform: translate(4px, 4px);
          transform: translate(4px, 4px);
}

body .cursor-container .cursor-follower.active, html .cursor-container .cursor-follower.active {
  opacity: 0.3;
  -webkit-transform: scale(0);
          transform: scale(0);
}

body a, html a {
  cursor: none;
}

@font-face {
  font-family: galano;
  src: url(/fonts/galano.otf);
}

@font-face {
  font-family: italicc;
  src: url(/fonts/italic.ttf);
}

.container {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  max-width: 85%;
}

header {
  padding-top: 6em;
  text-transform: uppercase;
}

header nav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-decoration: none;
}

header nav a {
  text-decoration: none;
  color: black;
}

header nav .left-side img {
  height: 40px;
  width: 40px;
}

header nav .right-side ul {
  list-style: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .right-side ul li {
  overflow: hidden;
  margin-left: 5em;
}

header .hover-underline-animation {
  display: inline-block;
  position: relative;
}

header .hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

header .hover-underline-animation:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 1000px;
  line-height: 3em;
}

.headline span {
  letter-spacing: 2.6px;
  font-family: italicc;
  font-weight: 600;
}

.headline p {
  padding-top: 5em;
  font-size: 2.6em;
  padding-bottom: 3em;
  text-align: center;
}

.headline-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  background-color: #F2F2F2;
  height: 75vh;
  width: 100%;
  cursor: none;
}

.headline-image img {
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  background-size: cover;
}

.headline-image img:hover {
  opacity: 0.8;
}

.headline-two {
  margin-left: auto;
  margin-right: 0;
  padding: 3em;
  width: 600px;
  padding-bottom: 12em;
}

.headline-two p {
  padding-top: 3em;
  font-size: 3em;
  padding-bottom: 1.4em;
  line-height: 1.35em;
  letter-spacing: .1px;
}

.headline-two .headline-two-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headline-two .headline-two-cta .arrow-right {
  margin-left: 12px;
  height: 8px;
  width: 8px;
}

.headline-two .headline-two-cta a {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.headline-two .headline-two-cta h3 {
  font-size: 1.2em;
  text-transform: uppercase;
  color: black;
  -webkit-transition: .6s;
  transition: .6s;
}

.headline-two .headline-two-cta h3:hover {
  margin-right: 15px;
}

footer .links {
  padding-bottom: 5em;
}

footer .links :nth-child(2) {
  margin-left: 3em;
}

footer .links :nth-child(3) {
  margin-left: 3em;
}

footer .links a {
  color: black;
  text-decoration: none;
}

footer .hover-underline-animation {
  display: inline-block;
  position: relative;
}

footer .hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

footer .hover-underline-animation:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.headline-work {
  padding: 4em;
  padding-bottom: 3em;
}

.headline-work h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  font-size: 10em;
  padding-bottom: 1em;
  font-weight: 500;
}

.project-container {
  width: 100%;
  padding-bottom: 12em;
}

.project-container .work-items .first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.project-container .work-items .first-row li {
  height: 350px;
  width: 600px;
  background-color: black;
  list-style: none;
}

.project-container .work-items .first-row .first-item {
  margin-right: 3em;
  overflow: hidden;
}

.project-container .work-items .first-row .first-item .first-p {
  color: white;
  position: absolute;
  z-index: 999;
  padding-left: 3em;
  padding-top: 17em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.project-container .work-items .first-row .first-item .second-p {
  color: white;
  position: absolute;
  z-index: 999;
  padding-left: 3em;
  padding-top: 18.5em;
  font-family: italicc;
  font-weight: 600;
  letter-spacing: 1px;
}

.project-container .work-items .first-row .first-item img {
  height: 100%;
  width: 100%;
  -webkit-transition: 4s ease-in-out;
  transition: 4s ease-in-out;
  opacity: .7;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-container .work-items .first-row .first-item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: .4;
  background-color: linear-gradient(45deg, #000, transparent);
}

.project-container .work-items .first-row .second-item {
  overflow: hidden;
}

.project-container .work-items .first-row .second-item .first-p {
  letter-spacing: 1px;
  color: white;
  position: absolute;
  z-index: 999;
  padding-left: 3em;
  padding-top: 17em;
  text-transform: uppercase;
}

.project-container .work-items .first-row .second-item .second-p {
  color: white;
  position: absolute;
  z-index: 999;
  padding-left: 3em;
  padding-top: 18.5em;
  font-family: italicc;
  font-weight: 600;
  letter-spacing: 1px;
}

.project-container .work-items .first-row .second-item img {
  height: 100%;
  width: 100%;
  -webkit-transition: 4s ease-in-out;
  transition: 4s ease-in-out;
  opacity: .7;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-container .work-items .first-row .second-item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: .4;
  background-color: linear-gradient(45deg, #000, transparent);
}

.headline-contact {
  padding: 4em;
  width: 800px;
  padding-bottom: 12em;
}

.headline-contact .message {
  padding-top: 2em;
  font-size: 2em;
  padding-bottom: 1.4em;
}

.headline-contact .email {
  padding-top: 1em;
  font-size: 2em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headline-contact .email:hover {
  opacity: 0.4;
}

.headline-contact .email-button {
  display: none;
}

@media all and (max-width: 600px) {
  .cursor-container {
    display: none;
  }
}

@media all and (max-width: 1024px) {
  header {
    padding-top: 3em;
  }
  .container nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-decoration: none;
  }
  .container nav a {
    text-decoration: none;
    color: black;
  }
  .container nav .left-side img {
    height: 35px;
    width: 35px;
  }
  .container nav .right-side ul {
    list-style: none;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container nav .right-side ul li {
    font-size: .9em;
    overflow: hidden;
    margin-left: 1.6em;
  }
  .container .headline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    width: 355px;
    line-height: 1.8em;
  }
  .container .headline span {
    letter-spacing: .5px;
    font-family: italicc;
    font-weight: 600;
  }
  .container .headline p {
    padding-top: 4em;
    font-size: 1.3em;
    padding-bottom: 5.5em;
    text-align: left;
  }
  .container .headline-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    background-color: #F2F2F2;
    height: 40vh;
    width: 340px;
  }
  .container .headline-image img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container .headline-two {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    width: 350px;
    padding-top: 5em;
  }
  .container .headline-two p {
    padding-top: 2.2em;
    font-size: 2.5em;
    padding-bottom: 3em;
  }
  .container .headline-two .headline-two-cta .arrow-right {
    margin-left: 12px;
    height: 8px;
    width: 8px;
  }
  .container .headline-two .headline-two-cta a {
    letter-spacing: -0.5px;
    font-size: .8em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    text-decoration: none;
  }
  .container .headline-two .headline-two-cta h3 {
    text-transform: uppercase;
    color: black;
    -webkit-transition: .6s;
    transition: .6s;
  }
  .container footer .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    padding-bottom: 5em;
  }
  .container footer .links :nth-child(2) {
    margin-left: 2em;
  }
  .container footer .links :nth-child(3) {
    margin-left: 2em;
  }
  .container footer .links a {
    font-size: 1em;
    color: black;
    text-decoration: none;
  }
  .container footer .hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  .container footer .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    transition: -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
    transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
  }
  .container footer .hover-underline-animation:hover:after {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
  .headline-work {
    padding: 4em;
    padding-bottom: 1em;
  }
  .headline-work h1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    font-size: 6em;
    padding-bottom: 1.2em;
    font-weight: 500;
  }
  .project-container {
    width: 100%;
    padding-bottom: 12em;
  }
  .project-container .work-items .first-row {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  .project-container .work-items .first-row li {
    height: 180px;
    width: 350px;
    background-color: black;
    list-style: none;
  }
  .project-container .work-items .first-row .first-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    margin-bottom: 1em;
  }
  .project-container .work-items .first-row .first-item .first-p {
    color: white;
    position: absolute;
    z-index: 999;
    padding-left: 2em;
    padding-top: 7em;
    text-transform: uppercase;
  }
  .project-container .work-items .first-row .first-item .second-p {
    color: white;
    position: absolute;
    z-index: 999;
    padding-left: 3em;
    padding-top: 8.5em;
    font-family: italicc;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .project-container .work-items .first-row .second-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    margin-bottom: 1em;
  }
  .project-container .work-items .first-row .second-item .first-p {
    color: white;
    position: absolute;
    z-index: 999;
    padding-left: 2em;
    padding-top: 7em;
    text-transform: uppercase;
  }
  .project-container .work-items .first-row .second-item .second-p {
    color: white;
    position: absolute;
    z-index: 999;
    padding-left: 3em;
    padding-top: 8.5em;
    font-family: italicc;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .headline-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    width: 350px;
    padding-bottom: 12em;
  }
  .headline-contact .contents {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
  }
  .headline-contact .message {
    padding-top: 2em;
    font-size: 1.8em;
    padding-bottom: 1.4em;
  }
  .headline-contact .email {
    min-width: 300px;
    font-size: 1.5em;
    display: block;
  }
}
/*# sourceMappingURL=styles.css.map */